.carousel-caption {
  position: relative;
  color: $text-primary-dark;
  text-align: right;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  right: 0;
  left: 0;
}

.carousel-item .carousel-caption-static {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.carousel-item.active .carousel-caption-static {
  opacity: 1;
}

.carousel-cover {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  object-position: inherit;
}
