.input {
  text-align: center;
  font-size: 1.3rem;
  width: 400px;
  height: 50px;
}

.container-email-form {
  min-height: 300px;

  h2 {
    @include fluid-type(20px, 26px);
    font-weight: 200 !important;
  }
}