button {
  padding: 0.5em 0.835em;
  border-width: 1px;

  &.shape-pill {
    border-radius: 300px !important;
  }

  &.large-button {
    font-size: 16px;
    &:hover {
      background-color: $color-primary;
      border-color: rgba(0, 0, 0, 0);
    }
    &:active {
      background-color: $color-secondary;
    }
  }
  &.hot {
    background-color: $color-primary;
    border-color: rgba(0, 0, 0, 0);
    &:hover {
      background-color: transparent;
      border-color: $text-primary-dark;
    }
    &:active {
      color: $color-secondary;
    }
  }
}
