.carousel-caption {
  position: relative;
  color: $text-primary-dark;
  text-align: right;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  right: 0;
  left: 0;
}

.carousel-item .carousel-caption {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.carousel-item.active .carousel-caption {
  opacity: 1;
}

.carousel-cover {
  min-height: 50vh;
  object-fit: cover;
}
