@use "../abstracts/variables";

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    color: white;
  }

  to {
    opacity: 1;
    transform: translateX(0px);
    color: variables.$text-primary-dark;
  }
}

.floating:hover {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}

@keyframes barberpole {
  0% {
    background-position: 0 0;
  }

  /* translate to height of background image */
  100% {
    background-position: 900px 900px;
  }
}

@-webkit-keyframes barberpole {
  0% {
    background-position: 0 0;
  }

  /* translate to height of background image */
  100% {
    background-position: 900px 900px;
  }
}

.spin-hero-container {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.spin-hero {
  display: block;
  margin: auto;
  max-width: 60vh;
  position: relative;
  /* left: 50%;
      bottom: 25%;
      width: 100%; */
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
  z-index: 1;
}

.hero-flight {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/background.png");
  animation: barberpole 15s linear infinite;
  background-repeat: repeat;
  background-size: 900px;
  background-color: rgb(231, 213, 44);
  margin-bottom: .0;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
