@use "../abstracts/variables";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  font-family: variables.$font;
  font-size: variables.$font-size;
  line-height: variables.$line-height;
}

::-moz-selection {
  background: variables.$color-primary;
}

::selection {
  background: variables.$color-primary;
}
