.text-column-2 {
  column-count: 2;
}

p {
  @include fluid-type(18px, 20px);

  &.caption {
    @include fluid-type(14px, 16px);
    margin-bottom: 0.6rem;
  }

  &.caption-title {
    margin-bottom: 0.1rem;
  }

  &.leading-loose {
    padding-left: 10px;

    a {
      color: rgb(0, 0, 1);
      text-decoration: underline;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}

// Colophon/metadata sections render rich text inside a .caption div.
// The inner <p> tags from PortableText don't carry .caption/.leading-loose
// themselves, so we apply styles via descendant selectors.
.caption p {
  @include fluid-type(14px, 16px);
  margin-bottom: 0.6rem;
}

.leading-loose p {
  padding-left: 10px;
}

h1 {
  @include fluid-type(40px, 80px);
  font-weight: 200 !important;
  padding: 0 !important;
}

h2,
h3,
h4,
h5,
h6 {
  @include fluid-type(32px, 56px);
  font-weight: 200 !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: $text-primary-dark;

  &:hover {
    color: $color-primary;
  }

  &:active {
    color: $color-secondary;
  }

  .overline {
    text-decoration: none;
  }
}

.grayed {
  color: rgba(0, 0, 0, 0.4);
}