.text-column-2 {
  column-count: 2;
}

p {
  font-size: 1.5rem;

  &.caption {
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }

  &.caption-title {
    margin-bottom: 0.1rem;
  }

  &.leading-loose {
    padding-left: 10px;

    a {
      color: rgb(0, 0, 1);
      text-decoration: underline;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}

// Colophon/metadata sections render rich text inside a .caption div.
// The inner <p> tags from PortableText don't carry .caption/.leading-loose
// themselves, so we apply styles via descendant selectors.
.caption p {
  font-size: 1rem;
  margin-bottom: 0.6rem;
}

.leading-loose p {
  padding-left: 10px;
}

h1 {
  font-weight: 200 !important;
  padding: 0 !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 200 !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: $text-primary-dark;

  &:hover {
    color: $color-primary;
  }

  &:active {
    color: $color-secondary;
  }

  .overline {
    text-decoration: none;
  }
}

.grayed {
  color: rgba(0, 0, 0, 0.4);
}

/* SM */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;

    &.caption {
      font-size: 1rem;
      margin-bottom: 0.6rem;
    }

    &.caption-title {
      margin-bottom: 0.1rem;
    }

    &.leading-loose {
      padding-left: 10px;
    }
  }
}
