@use "../abstracts/variables";

// Project page specific styles

.project-page {
  // Override all link styles including Bootstrap classes
  a,
  a.text-primary,
  a.text-decoration-underline {
    color: variables.$text-primary-dark !important;
    text-decoration: underline !important;
    
    &:hover {
      color: variables.$color-secondary !important;
      text-decoration: underline !important;
    }
    
    &:active {
      color: variables.$color-secondary !important;
    }
    
    &:visited {
      color: variables.$text-primary-dark !important;
    }
  }
  
  // Override for card links in navigation (they should stay as normal)
  .pagination-card a,
  .pagination-card a.text-primary,
  .pagination-card a.text-decoration-underline {
    color: variables.$text-primary-dark !important;
    text-decoration: none !important;
    
    &:hover {
      color: variables.$color-primary !important;
      text-decoration: none !important;
    }
    
    &:active {
      color: variables.$color-secondary !important;
    }
  }
  
  // Override for carousel caption links and other navigation
  .carousel-caption a,
  .nav-links a {
    color: variables.$text-primary-dark !important;
    text-decoration: none !important;
    
    &:hover {
      color: variables.$color-primary !important;
      text-decoration: none !important;
    }
  }
}