$bg: transparent;
$text-primary-dark: #141414;
$primary-light: rgba($text-primary-dark, 0.7);
$color-primary: rgb(231, 213, 44);
$color-secondary: rgb(255, 0, 0);
$font: var(--font-commissioner), "Commissioner", sans-serif !important;
$line-height: 1.5;
$font-size: 12px;