@use "../abstracts/variables";
@use "../abstracts/mixins";

.nav-bottom {
  font-family: Arial, Helvetica, sans-serif;
  color: variables.$primary-light;
  font-size: 1.25rem;
  font-weight: 300;
}

.copyright {
  font-family: Roboto, Helvetica, sans-serif;
  color: variables.$primary-light;
  font-weight: 300;
}

footer {
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  font-weight: 300;
  
  a {
    font-weight: 300;
  }
  
  .h2 {
    font-weight: 300;
  }
  
  // Keep brand lighter for hierarchy
  .footer-links-brand a,
  .text-center .h2:first-child {
    font-weight: 200;
  }
}

.footer-links {
  @include mixins.reset-list;
  padding-top: 2rem;
  padding-bottom: 0.8rem;
  &-brand {
    font-size: calc(1.9rem + 0.9vw);
    padding-bottom: 1.5rem;
  }
}

.contact-links {
  @include mixins.reset-list;
  padding-bottom: 1.2rem;
}

.social-links {
  @include mixins.reset-list;
  padding-bottom: 1.2rem;
}
