.heading {
  color: black;
  z-index: 3;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  z-index: 3;
  text-decoration: none;
  
  a {
    text-decoration: none !important;
    color: $text-primary-dark !important;
    
    &:hover {
      color: $color-primary !important;
      text-decoration: none !important;
    }
    
    &:active {
      color: $color-secondary !important;
    }
  }
  
  .brand {
    font-size: calc(1.325rem + 0.9vw);
  }
  &-text {
    font-size: calc(1.125rem + 0.9vw);
    color: $text-primary-dark;
    text-decoration: none;
  }
  &-item {
    padding-left: 2rem;
    z-index: 5;
    text-decoration: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav-links {
    .brand {
      font-size: 2.2rem;
    }
    &-text {
      font-size: 1.8rem;
    }
  }
}
