.logo {
    font-size: 1em;
    color: black;
    font-weight: 300;
    padding: 0;
}

.heading {
    color: black;
    z-index: 3;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    z-index: 3;
    text-decoration: none;
}

.nav-link-item {
    padding-left: 1rem;
    z-index: 5;
    text-decoration: none;

}

.nav-link-text {
    font-size: 1em;
    color: black;
    text-decoration: none;
    
}

.link-styling {
    text-decoration: none;
    color: black
}

.link-styling:hover {
    color: red;
}
.cover {
    object-fit: cover;
    min-height: 50vh;
    max-height: 50vw;
}